# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.FireBase.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Github\marlin3135\FireBase\.idea\.idea.FireBase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
