# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lindevy_Robin_13+14.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Robin\Desktop\marlin3135\ProgrammingFundamentals\UnityAssignments\Lindevy_Robin_13+14\.idea\.idea.Lindevy_Robin_13+14\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
