# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Save Data.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Robin\Desktop\Unity\Save Data\.idea\.idea.Save Data\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
