# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.ProcedualGeneration RobLin.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Robin\Desktop\marlin3135\GameProduction\ProcedualGeneration RobLin\.idea\.idea.ProcedualGeneration RobLin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
